body{
	background-size: cover;
	background-position: center;
}
.heading{
font-size: 30px;
width: 100%;
margin: 0px;
color: #36DCAA;
}

#status{
font-size: 18px;
}


.imageButton {
	width: 25%;
	padding: 5px;
}
